body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

.TaskList {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

.TaskForm {
  flex: 1;
}

.currentTask {
  margin-bottom: 2%; 
}

.currentTask .taskName {
  margin: auto;
}

.TaskForm > h1 {
  margin: 1%;
}

.searchTasks {
  display: flex;
  margin: auto;
  width: 100%;
}

.searchTasks > * {
  margin: 0 5%;
  border-radius: 15px;
}

.searchTasks > input:first-child {
  flex: 1;
  font-size: 2em;
  padding: 0 10px;
  width: 100%;
}

.UserForm {
  display: flex;
  flex-direction: column;
}

.Tasks {
  overflow: auto;
  flex: 1;
  padding-top: 20px;
}

.Task {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.selectedTask {
  background-color: aquamarine;
}

.childNames {
  flex: 1;
}

.deleteTask {
  margin: 2%;
  border-radius: 15px;
}

.parent {
  background-color: lightgray;
}

.Checkbox {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  border: solid gray 4px;
  background-color: lightgray;
  margin: auto 0;
}

.Checkbox > h1 {
  margin-top: -30px;
  font-size: 4em;
}

.TaskToolbar {
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  white-space: nowrap;
  overflow-x: auto;
}

.toolbarIcon {
  padding: 0 5%;
  /* flex: 1; */
  display: inline-block;
}

.toolChoice {
  background-color: palevioletred;
}